@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;

}
header{
    background-color: #122434;
    color: #fff;
    font-size: 18px;
    padding-bottom: 15px;
}
.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;

}
.list{
    font-family: 'Athiti', sans-serif;
}
.com{
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
}
.search{
    font-family: 'Athiti', sans-serif;
    width: 250px;
    height: 40px;
    background: transparent;
    border-radius: 5px;
    border-color: #fff;
    color: #fff;
    font-size: 18px;
}
ul li{
    list-style: none;
    display: block;
    display: contents;
    align-items: center;

    padding-left: 20px;
}