@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: rgba(255, 166, 0, 0.658);
    position: fixed;
}
.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
.list{
    font-family: 'Athiti', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.com{
    width: 50px;
    height: 50px;
    color: #fff;
    align-items: center;
}
.search{
    font-family: 'Athiti', sans-serif;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.692);
    border: none;
    border-radius: 5px;
    border-color: #fff;
    color: black;
    font-size: 20px;
}
ul li{
    list-style: none;
    display: block;
    display: contents;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}
ul li a{
    text-decoration: none;
    color: #fff;
}
header a{
    color: rgb(13, 78, 163);
}
/*----------Slide-------------*/

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;

}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
position: absolute;
width: 800px;
margin-top: -40px;
display: flex;
justify-content: center;
}
.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}
